<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Anne-Sophie LABAT est sophrologue Caycédienne. Une méthode de relaxation dynamique pour améliorer l'harmonie entre son corps et son esprit, optimiser et renforcer ses capacités."/>
    <meta name="keywords" content="relaxation sophrologie, SOPHROLOGIE, sophrologie Saint Gaudens, sophrologue Saint Gaudens, SOPHROLOGIE Saint Gaudens, sophrologie Labarthe Rivière, sophrologue Labarthe Rivière, SOPHROLOGIE Labarthe Rivière, relaxation, sophrologie caycedienne, SOPHROLOGIE CAYCEDIENNE, formation sophrologie, gestion du stress, sophrologue labat, préparation à l'accouchement, burn-out, aide arret tabac"/>
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
    <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/ico"/>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <!-- Summernote -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    <!-- Css -->
    <link rel="stylesheet" href="{{ asset('app.css') }}">
    <!-- Google Analytics -->
    {% endblock %}
</head>

<body>

    <!-- ********** NAVBAR ********** -->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top shadow">

        <a class="navbar-brand" href="{{ path('home') }}" title="Retour à l'accueil">Anne-Sophie Labat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse show" id="navbarColor01">
            <ul class="navbar-nav mr-auto ml-5">
                <!--dropdown Informations-->
                <li class="nav-item dropdown">
                    <a class="nav-link mr-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Cliquez ici pour retrouver toutes les informations">Informations</a>
                    <div class="dropdown-menu dropdownPerso" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item dropdownItemColor" href="{{ path('sophrologie') }}" title="Informations sur le cadre de la sophrologie">La
                            Sophrologie</a>
                        <a class="dropdown-item dropdownItemColor" href="{{ path('ateliers') }}" title="Informations sur les ateliers que j'anime">Mes
                            Ateliers</a>
                        <a class="dropdown-item dropdownItemColor" href="{{ path('cabinets') }}" title="Informations sur les lieux de consultation">Lieux de consultation</a>
                        <a class="dropdown-item dropdownItemColor" href="{{ path('tarifsHoraires') }}" title="Informations sur mes tarifs et horaires">Tarifs
                            et Horaires</a>
                        <a class="dropdown-item dropdownItemColor" href="{{ path('faq') }}" title="Retrouvez ici la foire à question">Foire
                            aux questions</a>
                    </div>
                </li>
                <!--Actualités -->
                <li class="nav-item">
                    <a class="nav-link mr-3" href="{{ path('actu') }}" title="Actualités : Toutes mes articles et actualités">Actualités</a>
                </li>
                <!-- Contact -->
                <li class="nav-item">
                    <a class="nav-link mr-3" href="{{ path('contact') }}" title="Contactez-moi !">Contact</a>
                </li>
            </ul>

            <!-- Accueil dashboard si admin connecté -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-link" href="{{ path('dashboard') }}" title="Retour accueil gestion administrateur">Dashboard
                        Home</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>


    {% block body %}{% endblock %}

    <!-- ********** FOOTER ********** -->
    <footer class="navbar-dark text-center py-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 md-4 sm-12 py-2">
                    <h5 class="text-white">Partenaires</h5>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="http://www.sofrocay.com/" title="Site de l'Académie Internationale de Sophrologie Caycédienne" target="_blank">Sofrocay</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com/CCLa5C/" title="Facebook de la 5C" target="_blank">La 5C</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://www.ccsg.fr/cias-saint-gaudens.html" title="Site du centre social Azimut" target="_blank">Azimut</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 md-4 sm-12 py-2">
                    <h5 class="text-white">Réseaux sociaux</h5>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com/Anne-Sophie-Sophrologue-Labarthe-Rivi%C3%A8re-268080020377888/"
                                target="_blank" title="Suivez moi sur facebook">
                                <i class="fab fa-facebook-square fa-4x fa-inverse effetHover"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 md-4 sm-12 py-2">
                    <h5 class="text-white">Contactez-moi</h5>
                    <p class="text-white">Anne-Sophie Labat<br>
                        Sophrologue<br>
                        06 88 55 48 03<br>
                        contact@sophrologue-labat.fr</p>
                </div>

            </div>
            <!-- Mentions légale & connexion -->
            <div class="col-xs-12 col-sm-12 col-md-12 mt-5 mt-sm-2 mb-0 text-center">
                <span class="h6 text-white">2019 © Anne-Sophie Labat, Sophrologue à Saint-Gaudens et Labarthe-Rivière, 31800 |</span>
                <a class="px-2 linkColor" href="#">Mentions Légales</a>

                <!-- Deconnexion dashboard si admin connecté -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        {% if is_granted('ROLE_ADMIN') %}
                        <a class="nav-link" href="{{ path('security_logout') }}">Deconnexion</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </footer>
<!-- ********** SCRIPTS ********** -->
{{ include('script.html.twig') }}

    <!-- BANNIERE ALERT SUCCESS OR ERROR -->
    {% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
    <div class="alert alert-{{ label }}">
        {{ flash }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <script>
        setTimeout(function () {
            $('.alert').slideUp('slow');
        }, 7000);
    </script>

    {% endfor %}
    {% endfor %}
    <!-- SUMMERNOTE-->
    <script>
        $(document).ready(function () {
            $('.summernote').summernote();
        });
    </script>


</body>

</html>