{% extends 'baseAdmin.html.twig' %}

{# {% form_theme formArticle 'bootstrap_4_layout.html.twig' %} #}

{% block title %}Mes Actualités - Edition{% endblock %}

{% block body %}

<div class="container mt-3">
    <h2 class="text-center mt-5">Edition de l'article : {{ article.titre }}</h2>

    {{ form_start(formArticle) }}

    {{ form_row(formArticle.titre, {'attr' : {'placeholder': "Titre de l'article"}}) }}
    {{ form_row(formArticle.metadescription, {'attr' : {'placeholder': "Mots clefs (facultatif)"}}) }}
    {{ form_row(formArticle.image, {'attr' : {'placeholder': "Changez votre image (facultatif)"}}) }}
    {{ form_row(formArticle.date, {'attr' : {'placeholder': "Date de l'article"}}) }}
    {{ form_row(formArticle.category)}}
    {{ form_row(formArticle.contenu, {'attr' : {'placeholder': "Contenu de l'article"}}) }}



    <button type="submit" class="btn btn-success" title="Valider les modifications">Valider les modifications</button>

    {{ form_end(formArticle) }}
    <div class="my-3">
        <a href="{{ path('myActu') }}" class="btn-sm btn-secondary" title="Retour à la liste : Mes actualités">Retour à la liste</a>
    </div>
</div>


{% endblock %}