{% extends 'baseAdmin.html.twig' %}

{% block title %}Mes Articles et Actualités{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid jumbotronTitle effetShadow">
    <div class="container">
        <h2 class="text-center titrePerso">Mes Articles et Actualités ADMIN</h2>
    </div>
</div>

<div class="container">
    <div class="card text-center my-5 createCard effetShadow">
        <div class="card-body">
            <h4 class="card-title">Créer un nouvel article (actualité ou article)</h4>
            <a href=" {{ path('actu_new') }} " class="btn btnCreate mt-2 px-4 effetHover" title="Créer : Un nouvel article">Créer</a>
        </div>
    </div>
</div>

{# **** Liste des articles *** #}
{% for article in pagination %}
<div class="container">
    <div class="card my-5 cardContour effetShadow">
        <div class="card-body">
            <section class="article text-center">
                <article>
                    <figure class="figure">
                        {% if (article.image is defined) and (article.image is not null) %}
                        <img src="{{ asset('uploads/photos/')~ article.image }}" class="figure-img img-fluid rounded"
                            alt="image_article">
                        {% endif %}
                    </figure>
                    <h2>{{ article.titre }}</h2>
                    <div class="metadata">Ecrit le {{ article.date | date('d/m/Y') }}</div>
                    <div class="content">
                        <p>{{ article.contenu | striptags | truncate(119, false, '.....' )}}</p>
                    </div>
                    <h6>Catégorie {{ article.category.title }}</h6>
                    <hr>
                    <a href="{{ path('actu_show', {'id': article.id})}}" class="btn btn-sm btnLireLaSuiteAdmin  px-4 py-2"
                        title="Lire la suite de l'article">Lire la suite</a>
                    <a href="{{ path('actu_edit', {'id': article.id}) }}" class="btn btn-sm btnEdit px-4 py-2" title="Editer l'article">Editer</a>
                    <form class="mt-2" method="post" action="{{ path('actu_delete', {'id': article.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                        <button class="btn btn-sm py-1 btnSupr" title="Supprimer l'article">Supprimer</button>
                    </form>
                </article>
            </section>
        </div>
    </div>
</div>
{% endfor %}
<div class="pagination justify-content-center p-3"> 
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}