{% extends 'baseAdmin.html.twig' %}

{% block title %}Mes Actualités{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid jumbotronTitle effetShadow">
    <div class="container">
        <h1 class="display-5 text-center titrePerso">Mes Actualités ADMIN</h1>
    </div>
</div>

<div class="container">
    <div class="card text-center m-5 createCard effetShadow">
        <div class="card-body">
            <h4 class="card-title">Créer une nouvelle actualité</h4>
            <a href=" {{ path('actu_new') }} " class="btn btnSuite mt-2 px-4 effetHover" title="Créer : Une nouvelle actualité">Créer</a>
        </div>
    </div>
</div>

{# **** Liste des articles *** #}
{% for article in articles |sort|reverse %}
<div class="container">
    <div class="card m-5 cardContour effetShadow">
        <div class="card-body">
            <section class="article text-center">
                <article>
                    <figure class="figure">
                        <img src="{{ asset('uploads/photos/')~ article.image }}" class="figure-img img-fluid rounded"
                            alt="image_article">
                    </figure>
                    <h2>{{ article.titre }}</h2>
                    <div class="metadata">Ecrit le {{ article.date | date('d/m/Y') }}</div>
                    <div class="content">
                        <p>{{ article.contenu |truncate(20, false, '.....' | raw )}}</p>
                    </div>
                    <hr>
                    <a href="{{ path('actu_show', {'id': article.id})}}" class="btn-sm btnSuite px-4 py-2" title="Lire la suite : de l'article d'actualité">Lire la
                        suite</a>
                    <a href="{{ path('actu_edit', {'id': article.id}) }}" class="btn-sm btnEdit px-4 py-2" title="Editer : l'article d'actualité">Editer</a>
                    {#<a href="{{ path('actu_delete', {'id': article.id}) }}" class="btn btn-primary">Supprimer</a>#}
                    <form class="mt-2" method="post" action="{{ path('actu_delete', {'id': article.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                        <button class="btn btn-sm btnSupr" title="Supprimer l'article d'actualité">Supprimer</button>
                    </form>
                </article>
            </section>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}