{% extends 'base.html.twig' %}

{# {% form_theme formArticle 'bootstrap_4_layout.html.twig' %} #}

{% block title %}Mes Actualités - Créer{% endblock %}

{% block body %}

<h2 class="text-center mt-5 text-secondary">Créer un nouvel article d'actualité</h2>

<div class="container mt-3">

    {{ form_start(formArticle) }}

    {{ form_row(formArticle.titre, {'attr' : {'placeholder': "Titre de l'article"}}) }}
    {{ form_row(formArticle.metadescription, {'attr' : {'placeholder': "Mots clefs (pas obligatoire)"}}) }}
    {{ form_row(formArticle.image, {'attr' : {'placeholder': "Image à télécharger (pas obligatoire)"}}) }}
    {{ form_row(formArticle.date, {'attr' : {'placeholder': "Date de l'article"}}) }}
    {{ form_row(formArticle.contenu | raw, {'attr' : {'placeholder': "Contenu de l'article"} } ) }}

    <button type="submit" class="btn btn-success" title="Ajouter l'article d'actualité"> Ajouter l'article</button>

    {{ form_end(formArticle) }}

</div>

<div class="mb-2">
    <a href="{{ path('myActu') }}" class="btn-sm btn-secondary" title="Retour à la liste : Mes actualités">Retour à la liste</a>
</div>
{% endblock %}