{% extends 'base.html.twig' %}

{% block title %}Mes Actualités - Créer -{% endblock %}

{% block body %}

<h1>Création d'un article d'Actualités!!</h1>

<div class="container mt-3">

    {{ form_start(formArticles) }}

    {{ form_row(formArticles.titre, {'attr' : {'placeholder': "Titre de l'article"}}) }}
    {{ form_row(formArticles.metadescription, {'attr' : {'placeholder': "Mots clefs (pas obligatoire)"}}) }}
    {{ form_row(formArticles.contenu, {'attr' : {'placeholder': "Contenu de l'article"}}) }}
    {{ form_row(formArticles.image) }}
    {{ form_row(formArticles.date, {'attr' : {'placeholder': "Date de l'article"}}) }}

    <button type="submit" class="btn btn-success"> Ajouter l'article</button>

    {{ form_end(formArticles) }}

</div>

{% endblock %}