{% extends 'base.html.twig' %}

{% block title %}Edition du Mot de passe{% endblock %}

{% block body %}



<div class="example-wrapper m-5">

    <h1 class="mb-4">Modification du mot de passe ✅</h1>
    {{ form_start(form) }}

    <p class="mb-5">Mot de passe actuel : {{app.user.password}} </p>
    {{ form_row(form.password, {'label': 'Nouveau mot de passe : ', 'attr': {'placeholder': 'Nouveau mot de passe...'}}) }}
    {{ form_row(form.confirm_password, {'label':'Confirmation du mot de passe', 'attr': {'placeholder': 'Répéter votre mot de passe !'}}) }}


    <button type="submit" class="btn btn-success" title="Modifier le mot de passe">Envoyer</button>

    {{ form_end(form) }}


</div>


{% endblock %}