{% extends 'baseAdmin.html.twig' %}

{% block title %}Dashboard Admin!{% endblock %}

{% block body %}

<div class="example-wrapper">

    <div class="jumbotron jumbotron-fluid jumbotronTitle effetShadow">
        <div class="container">
            <h1 class="display-4 text-center titrePerso mb-3">Dashboard Admin</h1>
            {% if is_granted('ROLE_ADMIN') %}
            <!-- is_granted() = méthode de sécurité pour que la hiérarchie des rôles fonctionne **granted : bénéficiaire**-->
            <h2 class="text-center titrePerso adminText">Bonjour {{ app.user.username }} !</h2>
            {% endif %}
        </div>
    </div>
    

{# *** Présentation des actions du dashboard *** #}
<div class="container">
    <div class="card text-center m-5 cardContour effetShadow">
        <h4 class="card-header">Mes Actualités et Articles</h4>
        <div class="card-body">
            {# <h5 class="card-title">Mes Actualités</h5> #}
            <p class="card-text">Ici retrouvez toutes vos actualités et les actions de CRUD</p>
            <a href="{{ path('myActu') }}" class="btn btn-sm btnSuite px-4 py-2" title="Allez sur la gestion de vos articles d'actualités">Voir plus</a>
        </div>
    </div>

    <div class="card text-center m-5 cardContour effetShadow">
        <h4 class="card-header">Ma Foire aux questions</h4>
        <div class="card-body">
            {# <h5 class="card-title">Ma Foire à questions</h5> #}
            <p class="card-text">Ici retrouvez toutes votre Faq et les actions de CRUD</p>
            <a href="{{ path('myFaq') }}" class="btn btn-sm btnSuite px-4 py-2" title="Allez sur la gestion de votre foire à questions">Voir plus</a>
        </div>
    </div>

    <div class="card text-center m-5 cardContour effetShadow">
        <h4 class="card-header">Mes Statistiques Google Analytics</h4>
        <div class="card-body">
            {# <h5 class="card-title">Ma Statistiques</h5> #}
            <p class="card-text">Ici retrouvez toutes les Statistiques de fréquentations de votre site</p>
            <a href="{{ path('myStat') }}" class="btn btn-sm btnSuite px-4 py-2" title="Allez sur la gestion de vos statistiques de fréquentations du site">Voir plus</a>
        </div>
    </div>

    <div class="card text-center m-5 cardContour effetShadow">
        <h4 class="card-header">Mes Modifications personnelles</h4>
        <div class="card-body">
            {# <h5 class="card-title">Modifications Info</h5> #}
            <p class="card-text">Ici modifiez vos informations de connexion et vos informations personnelles</p>
            <a href="{{ path('userEdit') }}" class="btn btn-sm btnSuite px-4 py-2" title="Allez sur la gestion de vos informations personnelles">Voir plus</a>
        </div>
    </div>
</div>


</div>
{% endblock %}