{% extends 'baseAdmin.html.twig' %}

{% block title %}Edition{% endblock %}

{% block body %}

{# Affiche le tableau user : {{ dump(user) }}#}

    <h1 class="text-center mt-5">Modification informations</h1>

    <div class="container mt-3">
    {{ form_start(form) }}

    {{ form_row(form.username) }}
    {{ form_row(form.mail) }}

    <button type="submit" class="btn btn-success" title="Envoyer : La modification de vos informations">Envoyer</button>

    {{ form_end(form) }}

    <div class="mt-5 mb-2">
        <a href="{{ path('password_edit') }}" class="btn btn-danger" title="Modifiez votre mot de passe">Modification du mot de passe</a>
    </div>

</div>

{% endblock %}