{% extends 'base.html.twig' %}

{% block title %}Edition{% endblock %}

{% block body %}

{# Affiche le tableau user : {{ dump(user) }}#}
<div class="example-wrapper m-5">

    <h1 class="mb-4">Modification informations ✅</h1>
    {{ form_start(form) }}

    {{ form_row(form.username, {'label': 'Nom ou Pseudo : '}) }}
    {{ form_row(form.mail, {'label': 'Adresse Email : '}) }}

    <button type="submit" class="btn btn-success" title="Modifier vos informations">Envoyer</button>

    {{ form_end(form) }}

    <div class="mt-5">
        <a href="{{ path('password_edit') }}">Modification du mot de passe</a>
    </div>

</div>

{% endblock %}