{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}

<h1>Ici retrouvez toutes les dernières actu !!</h1>

{# Liste des article #}
{% for article in articles %}
<div class="example-wrapper">
    <div class="row mt-5">
        <div class="col mx-5">
            <div class="card">
                <div class="card-body">
                    <section class="article text-center">
                            <article>
                                <h2>{{ article.titre }}</h2>
                                <div class="metadata">Ecrit le {{ article.date | date('d/m/Y') }}</div>
                                <div class="content">
                                    <img src="{{ asset('uploads/photos/')~ article.image }}" alt="image_actualités">
                                <p>{{ article.contenu | raw }}</p>
                                </div>
                                <hr>
                                <a href="{{ path('actu_show', {'id': article.id})}}" class="btn btn-primary">lire la suite</a>
                            </article>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}