{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}

<div class="pb-2 actu">
    <!-- Fil d'ariane -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}" class="accueilBreadcrumb">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('actu') }}" class="accueilBreadcrumb">Toutes mes actualités</a></li>
            <li class="breadcrumb-item text-white active" aria-current="page">{{ article.titre }}</li>
        </ol>
    </nav>
    <!-- Affichage actualité -->
    <div class="container">
        <div class="card m-4 shadow">
            <div class="card-body">
                <section class="article">
                    <article>
                        <h2 class="pb-3 text-center">{{ article.titre }}</h2>
                        <h6 class="text-center">Les actualités d'Anne Sophie</h6>
                        <div class="metadata text-center">Ecrit le {{ article.date | date('d/m/Y') }}</div>
                        <div class="content p-5">
                            {% if (article.image is defined) and (article.image is not null) %}
                            <img src="{{ asset('uploads/photos/')~ article.image }}" class="img-fluid" alt="image d'actualité">
                            {% endif %}
                            <p>{{ article.contenu | raw }}</p>
                            {# **** Partage réseaux sociaux **** #}
                            <div class="text-right">
                                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
                                    data-show-count="false">Tweet</a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.sophrologue-labat.fr%2Factualites%2F%7Bid%7D&layout=button_count&size=small&mobile_iframe=true&width=82&height=20&appId"
                                    width="82" height="20" style="border:none;overflow:hidden" scrolling="no"
                                    frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                                {# *** fin partage réseaux sociaux *** #}
                            </div>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('myActu') }}" class="btn btnSuite mt-5 px-4 py-2 effetHover" title="Retour à la liste : Mes actualités">Retour
                                à la liste</a>
                            {% else %}
                            <a href="{{ path('actu') }}" class="btn btnSuite mt-5 px-4 py-2 effetHover" title="Retour à la liste : Actualités">Retour
                                à la liste</a>
                            {% endif %}
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}