{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

<div class="pb-2 actu">

    <!-- Fil d'ariane -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}" class="accueilBreadcrumb">Accueil</a></li>
            <li class="breadcrumb-item text-white active" aria-current="page">Tout mes articles</li>
        </ol>
    </nav>

    <h2 class="text-center">Tout mes articles</h2>
    {# *** Liste des articles *** #}
    {% for article in pagination %}
    <div class="container">
        <div class="card my-4 effetShadow">
            {% if (article.image is defined) and (article.image is not null) %}
            <img src="{{ asset('uploads/photos/')~ article.image }}" class="card-img-top" alt="image_articles">
            {% endif %}
            <div class="card-body">
                <section class="article text-center">
                    <article>
                        <h2 class="mt-3">{{ article.titre }}</h2>
                        <div class="metadata mt-3">Ecrit le {{ article.date | date('d/m/Y') }}</div>
                        <div class="content mt-3">
                            <p>{{ article.contenu | striptags |truncate(100, false, '.....') }}</p>
                        </div>
                        <hr>
                        <a href="{{ path('article_show', {'id': article.id})}}" class="btn btnSuite mt-5 px-4 py-2 effetHover"
                            title="Lire la suite de l'article d'actualité">Lire la suite</a>
                    </article>
                </section>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="pagination justify-content-center p-3"> 
    {{ knp_pagination_render(pagination) }}
    </div>


    <div class="text-center">
        <a href="{{ path('home') }}" class="btn btnSuite mt-5 px-4 py-2 effetHover" title="Retour à l'accueil">Retour à
            l'accueil</a>
    </div>
</div>

{% endblock %}