{% extends 'base.html.twig' %}

{% block title %}Anne-Sophie Labat - SOPHROLOGUE à Saint-Gaudens et Labarthe-Rivière - 31800{% endblock %}

{% block body %}

<!-- ********** SLIDE CONSEILS ********** -->
<div id="demo" class="carousel slide shadow" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <picture>
                <img srcset="{{ asset('img/sunset-tree.jpg') }}" class="d-block img-fluid" alt="image">
                {#<img srcset="{{ asset('img/artichaut.png') }}" alt="image" class="d-block img-fluid imgCarousel">#}
            </picture>
            <div class="carousel-caption d-none d-md-block">
                <h2>Conseil 1</h2>
                <p>...</p>
                <a href="#" class="btn btnSuite mt-5 px-4 py-2 effetHover" title="Lire la suite du conseil">lire la
                    suite</a>
            </div>
        </div>
        <div class="carousel-item">
            <picture>
                <img srcset="{{ asset('img/tree-purple.jpg') }}" class="d-block img-fluid" alt="image">
                {#<img srcset="{{ asset('img/kiwi.png') }}" alt="image" class="d-block img-fluid imgCarousel">#}
            </picture>
            <div class="carousel-caption d-none d-md-block">
                <h2>Conseil 2</h2>
                <p>...</p>
                <a href="#" class="btn btnSuite mt-5 px-4 py-2 effetHover" title="Lire la suite du conseil">lire la
                    suite</a>
            </div>
        </div>
        <div class="carousel-item">
            <picture>
                <img srcset="{{ asset('img/sun-tree.jpg') }}" class="d-block img-fluid" alt="image">
                {#<img srcset="{{ asset('img/choux.png') }}" alt="image" class="d-block img-fluid imgCarousel">#}
            </picture>
            <div class="carousel-caption d-none d-md-block">
                <h2>Conseil 3</h2>
                <p>...</p>
                <a href="#" class="btn btnSuite mt-5 px-4 py-2 effetHover" title="Lire la suite du conseil">lire la
                    suite</a>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>


<!-- ********** INFORMATIONS PRATICIENNE ********** -->

<div class="container my-5">
    <div class="card-group effetShadow">
        <div class="card">
            <div class="card-body">
                <picture>
                    <img srcset="{{ asset('img/anne_sophie.jpg') }}" alt="photo_praticienne" class="d-block card-img">
                </picture>
            </div>
        </div>
        <div class="card text-center">
            <div class="container my-3">
                <div class="card-body infoPraticienne">
                    <h4 class="card-title py-3">Formation</h4>
                    <p class="card-text pt-2">Titulaire du diplôme de master spécialiste en Sophrologie Caycédienne
                        et formée en relation d’aide, je pratique la sophrologie depuis l’année 2011<br>Spécialisée
                        dans la prévention et
                        la gestion du stress, des émotions et dans le développement personnel, je propose de vous
                        accompagner avec des techniques de relaxation dynamique adaptées à votre demande...</p>
                    <a href="{{ path('formation') }}" class="btn btnSuite mt-5 px-4 py-2 effetHover" title="En savoir plus : Formation de la praticienne">En
                        savoir plus...</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-group shadow">
        <div class="card text-center">
            <div class="container my-3">
                <div class="card-body infoPraticienne">
                    <h4 class="card-title py-3">Expériences</h4>
                    <p class="card-text pt-2">En parallèle de mon cursus scolaire et universitaire,<br>Je me suis
                        toujours
                        orientée vers des activités professionnelles auprès d’enfants, en tant qu’animatrice, dans
                        l’encadrement,l’organisation et dans la gestion du quotidien<br>
                        Aussi j’ai choisie l’Aide à domicile, auprès de personne âgées ou dans l’accompagnement au
                        quotidien de personnes en difficultés.<br><br>
                        Ces différentes expériences, au fil des années, m’ont montrée l’importance d’être à l’écoute de
                        l’autre, de soi, de ce que l’on ressent.<br>
                        Savoir prendre du temps pour s’écouter, les bienfaits d’une attitude positive et que les
                        solution sont souvent
                        en nous.<br><br>
                        Je me suis donc orientée dans une profession où l’on est dans l’accompagnement et l’écoute, qui
                        propose de laisser le mental de côté pour s’accorder un temps pour soi, où l’on apprend à faire
                        la parenthèse avec le quotidien pour vivre un moment de détente, positif, et surtout qui donne
                        des outils pour être mieux dans son quotidien...</p>
                    <a href="{{ path('experiences') }}" class="btn btnSuite mt-5 px-4 py-2 effetHover" title="En savoir plus : Expériences de la praticienne">En
                        savoir plus...</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <picture>
                    <img srcset="{{ asset('img/cabinet_sophrologie_labarthe_riviere.jpg') }}" alt="photo_cabinet" class="d-block card-img">
                </picture>
            </div>
        </div>
    </div>
</div>






<!-- ********** INFORMATIONS CABINETS / TARIFS / LOCALISATION CARTE ********** -->


<div class="card-deck mx-1 my-5">

    <div class="card mt-2 cardInfoHome effetShadow">
        <div class="card-body">
            <h4 class="card-title text-center py-3 pb-4">Découvrir le cabinet</h4>
            <p class="card-text font-weight-bold">
                CABINET DE SOPHROLOGIE , au centre du village de Labarthe-Rivière.
            </p>
            <p class="card-text">
                Situé entre Saint-Gaudens et Montrejeau, à 20 minutes d’Aspet et 40 minutes de Bagnères-de-Luchon.<br>
                Une petite grange rénovée pour vous accueillir dans un cadre chaleureux et apaisant.<br>
                Un lieu calme, un espace de détente et d’échange pour faire la parenthèse avec son quotidien, se
                ressourcer, respirer, se détendre et faire le plein de vitalité.
                <p class="card-text">
                    8 Place Galliéni 31800 Labarthe-Rivière - Cabinet
                </p>
            </p>
            <p class="card-text">
                Ayant des interventions extérieures et une permanence à Saint-Gaudens, je vous accueille sur
                rendez-vous, que ce soit pour une séance ou des renseignements.<br>
            </p>
            <hr>
            <p class="card-text font-weight-bold">
                Sophrologie à Saint-Gaudens et à domicile
            </p>
            <p class="card-text">
                Je vous propose des séances de sophrologie Caycédienne sur rendez-vous, à Saint-Gaudens dans un cabinet
                pluridisciplinaire.<br>
                Situé en centre ville de Saint-Gaudens, avec places de parking gratuits à proximité.<br>
                Pour les personnes ne pouvant se déplacer, je propose des interventions à domicile, le tarif peut
                varier en fonction de l’indemnité kilométrique,<br>
                Soit hors commune de Saint-Gaudens.
            </p>
            <p class="card-text">
                31 Avenue François Mitterrand 31800 Saint-Gaudens - Permanence
            </p>
            <hr>
            <p class="card-text text-right">
                N'hésitez-pas à me contactez,<br>
                à bientôt,<br>
                Anne-Sophie.
            </p>
        </div>
    </div>

    <div class="card mt-2 cardInfoHome effetShadow">
        <div class="card-body">
            <h4 class="card-title text-center py-3 pb-4">Choisissez votre formule</h4>
            <h6 class="card-text text-center">Séance individuelle</h6>
            <p class="card-text text-center py-3">40€<br>
                35€ *
            </p>
            <h6 class="card-text text-center">Séance collective</h6>
            <p class="card-text text-center py-3">10€<br>
                8€ *
            </p>
            <div class="text-center">
                <a href="{{ path('tarifsHoraires') }}" class="btn btnSuite mt-5 px-4 py-2 effetHover" title="Voir plus : Tarifs et Horaires">Voir plus...</a>
            </div>
            <!-- <h6 class="card-text text-center">Forfaits</h6>
                <p class="card-text text-center py-3">forfait 3 séances : 105 euros<br>
                forfait 4 séances individuelles de 35 minutes pour les enfants (3/11 ans) : 75 euros
                </p>
            <h6 class="card-text text-center">Bon cadeau</h6>
                <p class="card-text text-center py-3">Offrez une séance à vos amis et vos proches pour leur bien-être</p>
            <h6 class="card-text text-center">Parrainage</h6>
                <p class="card-text text-center py-3">Parrainez un membre de votre famille et faîte lui découvrir la Sophrologie Caycédienne</p>
            <h6 class="card-text text-center">Mutuelle</h6>
                <p class="card-text text-center py-3">Parrainez un membre de votre famille et faîte lui découvrir la Sophrologie Caycédienne<br>
                <a href="{{ asset('doc/mutuelles_prise_en_charge_sophrologie_caycedienne.pdf') }}" title="Pdf de la liste non-exhaustives des mutuelles partenaires" class="linkColor">Liste non-exhaustives des mutuelles partenaires</a>
                </p>
                <p class="card-text text-center py-3"> * Enfants/adolescents/étudiants/demandeur d'emploi</p> -->
        </div>
    </div>

    <div class="card mt-2 cardInfoHome effetShadow">
        <div class="card-body">
            <h4 class="card-title text-center py-3 pb-4">Où me trouver</h4>
            <p class="card-text">.....Google Map....</p>
        </div>
    </div>
</div>


{% endblock %}