<!DOCTYPE html>

<html lang="fr">

<head>
	<meta charset="UTF-8">
	<title>Nouveau contact venant de votre site web</title>
</head>

<body>
    <h4>Une nouvelle personne souhaite avoir plus d'information ou vous contacter</h4>
    <p>Nom de la personne : {{ contact.nom }}</p>
    <p>Numéro de téléphone : {{ contact.telephone }}</p>
    <p>Email : {{ contact.email }}</p>
    <p>Demande de rdv pour le : {{ contact.rdv }}</p>
    <p>Lieu de préférence du rdv : {{ contact.lieu }}</p>
    <p>Message : {{ contact.message | nl2br }}</p>
</body>

</html>