{% extends 'baseAdmin.html.twig' %}

{% block title %}Ma Foire aux questions - Liste{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid jumbotronTitle effetShadow">
    <div class="container">
        <h2 class="text-center titrePerso">Ma Foire aux questions ADMIN</h2>
    </div>
</div>

<div class="container">
    <div class="card text-center my-5 createCard effetShadow">
        <div class="card-body">
            <h4 class="card-title">Créer une nouvelle question / réponse</h4>
            <a href=" {{ path('faq_new') }} " class="btn btnCreate" title="Créer : Une nouvelle question et réponse">Créer</a>
        </div>
    </div>
</div>

{# *** Liste des questions / réponses *** #}
{% for faq in faqs |sort|reverse %}
<div class="container">
    <div class="card my-5 cardContour effetShadow">
        <div class="card-body">
            <section class="article text-center">
                <article>
                    <h5 class="card-title">{{ faq.question }}</h5>
                    <div class="content">
                        <p class="card-text">{{ faq.reponse }}</p>
                    </div>
                    <hr>
                    <a href="{{ path('faq', {'id': faq.id}) }}" class="btn btn-sm btnLireLaSuiteAdmin  px-4 py-2" title="Voir sur le site visiteur">Voir
                        sur le site</a>
                    <a href="{{ path('faq_edit', {'id': faq.id}) }}" class="btn btn-sm btnEdit px-4 py-2" title="Editer La question / réponse">Editer</a>
                    <form class="mt-2" method="post" action="{{ path('faq_delete', {'id': faq.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ faq.id) }}">
                        <button class="btn btn-sm py-2 btnSupr" title="Supprimer la question avec sa réponse">Supprimer</button>
                    </form>
                </article>
            </section>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}