{% extends 'base.html.twig' %}

{% block title %}Ma Foire à question-Liste-{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid jumbotronTitle effetShadow">
    <div class="container">
        <h1 class="display-5 text-center">Ma Foire à question ADMIN</h1>
    </div>
</div>

<div class="container">
    <div class="card text-center m-5 createCard effetShadow">
        <div class="card-body">
            <h4 class="card-title">Créer une nouvelle question / réponse</h4>
            <a href=" {{ path('faq_new') }} " class="btn btn-secondary" title="Créer : Une nouvelle question et réponse">Créer</a>
        </div>
    </div>
</div>

{# *** Liste des questions / réponses *** #}
{% for faq in faqs %}
<div class="container">
    <div class="card m-5 cardContour effetShadow">
        <div class="card-body">
            <section class="article text-center">
                <article>
                    <h2 class="card-title">{{ faq.question }}</h2>
                    <div class="content">
                        <p class="card-text">{{ faq.reponse }}</p>
                    </div>
                    <hr>
                    <a href="{{ path('faq', {'id': faq.id}) }}" class="btn-sm btnSuite px-4 py-2" title="Voir sur le site : Visiteur">Voir sur le site</a>
                    <a href="{{ path('faq_edit', {'id': faq.id}) }}" class="btn-sm btnEdit px-4 py-2" title="Editer : La question / réponse">Editer</a>
                    <form class="mt-2" method="post" action="{{ path('faq_delete', {'id': faq.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ faq.id) }}">
                        <button class="btn btn-sm btnSupr" title="Supprimer la question avec sa réponse">Supprimer</button>
                    </form>
                </article>
            </section>
        </div>
    </div>
</div>
{% endfor %}



{# LISTE SOUS FORME DE TABLEAU MOCHE
<table class="table">
    <thead>
        <tr>
            <th>Question</th>
            <th>Reponse</th>
        </tr>
    </thead>
    <tbody>
        {% for faq in faqs %}
        <tr>
            <td>{{ faq.question }}</td>
            <td>{{ faq.reponse }}</td>
            <td>
                <a href="{{ path('faq_show', {'id': faq.id}) }}">Voir plus</a>
                <a href="{{ path('faq_edit', {'id': faq.id}) }}">Editer</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table> #}

{% endblock %}